.item {
  display: flex;
  height: 67%;
}

.item__img {
  box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 50%);
  height: 80%;
  display: block;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.item__card {
  flex: 1;
}

.item__desc {
  padding-top: 30px;
  flex: 1;
  padding-bottom: 20px;
}

.item__text {
  border: 2px solid rgba(63, 81, 181, 0.1);
  font-size: 12px;
  max-width: 80%;
  padding: 10px;
}

.item__category {
  color: rgba(143, 138, 145, 0.7);
  text-decoration: underline rgba(143, 138, 145, 0.4);
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 0;
}

.item__title {
  color: rgba(63, 81, 181, 1);
  margin: 15px 0;
}

.item__authors {
  margin-top: 0;
  color: rgba(143, 138, 145, 0.7);
}

@media (max-width: 1024px) {
  .item__text {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .item {
    flex-direction: column;
  }
  .item__img {
    height: 50%;
  }
  .item__category {
    font-size: 10px;
  }
  .item__title {
    font-size: 16px;
  }
  .item__authors {
    font-size: 12px;
  }
  .item__text {
    font-size: 8px;
  }
}

@media (max-width: 425px) {
  .item__img {
    height: 50%;
    position: relative;
    transform: translate(0, 0);
    top: 20px;
    left: 0;
    margin: 0 auto;
  }
  .item__desc {
    text-align: center;
  }
  .item__category {
    margin-top: 10px;
  }
  .item__title {
    font-size: 14px;
  }
  .item__authors {
    font-size: 10px;
  }
  .item__text {
    font-size: 8px;
    margin-left: 30px;
  }
}

@media (max-width: 320px) {
  .item__text {
    font-size: 8px;
    margin-left: 20px;
  }
}
